.wrapper
  .standard-data
    .standard-data__comment
      = "各スキルの評価基準です"
      %br
      = "<共通項目>"
      %br
      = "・レベル０：まだそのスキルを教わっていない"
      %br
      = "・レベル５：そのスキルを他スタッフに教えることができる"
    = link_to "トップに戻る", root_path
    .standard-data__list-name
      <品出し>
    %table.standard-data__table{border: 3}
      %tr.list 
        %th.level 1
        %th.level 2
        %th.level 3
        %th.level 4
      %tr.list
        %td.detail 品出しする商品を対象の場所に品出しすることができる
        %td.detail 先入れ先出しを意識して品出しすることができる
        %td.detail 品出しのRE基準を理解し、安全かつスピードを持って品出しができる
        %td.detail 他箇所展開を意識し、陳列量が少ない場合は他箇所展開場所にも品出しをすることができる
    .standard-data__list-name
      <前出し>
    %table.standard-data__table{border: 3}
      %tr.list
        %th.level 1
        %th.level 2
        %th.level 3
        %th.level 4
      %tr.list
        %td.detail 商品の前出しをすることができる
        %td.detail 手前側だけでなく、棚の奥から全体的に前出しができる
        %td.detail 商品のフェースアップを意識して前出しができる
        %td.detail 品出しの際に棚全体の商品の前出しを意識して実行している
    .standard-data__list-name
      <接客>
    %table.standard-data__table{border: 3}
      %tr.list
        %th.level 1
        %th.level 2
        %th.level 3
        %th.level 4
      %tr.list
        %td.detail お客さまの問い合わせに接客用語を用いて接客している
        %td.detail 商品の場所を尋ねられた場合、その場所まで案内できる
        %td.detail お客さまに商品の特徴を説明できる
        %td.detail お求めの商品が欠品だった場合、お客さまに代替案を提示できる
    .standard-data__list-name
      <発注>
    %table.standard-data__table{border: 3}
      %tr.list
        %th.level 1
        %th.level 2
        %th.level 3
        %th.level 4
      %tr.list
        %td.detail グロサリー（非冷蔵商品）の発注ができる
        %td.detail 日配（冷蔵商品）の発注ができる
        %td.detail 在庫を把握し、ポイントデーや天候の与件を考慮して発注ができる
        %td.detail 発注のRE基準を理解し、発注時間の短縮に努めている
    .standard-data__list-name
      <値引き・廃棄>
    %table.standard-data__table{border: 3}
      %tr.list
        %th.level 1
        %th.level 2
        %th.level 3
        %th.level 4
      %tr.list
        %td.detail 商品の値引き・廃棄をすることができる（機器を扱うことができる）
        %td.detail 商品別の値引き・廃棄基準を理解し、対象商品を下げることができる
        %td.detail 値引き・廃棄のRE基準を理解し、時間短縮に努めている
        %td.detail 自店のロス率、ロス金額を理解し、削減に努めている
    .standard-data__list-name
      <ＰＯＰ作成>
    %table.standard-data__table{border: 3}
      %tr.list
        %th.level 1
        %th.level 2
        %th.level 3
        %th.level 4
      %tr.list
        %td.detail 最低限、①商品名 ②規格 ③価格、が入ったＰＯＰを作成することができる
        %td.detail 定番やセールなど、その時に企画によってＰＯＰを変更することができる
        %td.detail ＰＯＰ作成のRE基準を理解し、作成時間の短縮に努めている
        %td.detail ＰＯＰに商品の特徴やキャッチフレーズなどを入れ、販売促進に努めている
    .standard-data__list-name
      <クリンリネス>
    %table.standard-data__table{border: 3}
      %tr.list
        %th.level 1
        %th.level 2
        %th.level 3
        %th.level 4
      %tr.list
        %td.detail ダスターを常備し、いつでもクリンリネスが出来るよう心がけている
        %td.detail クリンリネス用具の使い方を理解し、クリンリネスが出来る
        %td.detail 品出しや前出しの際に、棚やケースのクリンリネスを心がけている
        %td.detail クリンリネスの必要箇所を理解し、適切なタイミングでクリンリネスを実施している
    .standard-data__list-name
      <数値分析>
    %table.standard-data__table{border: 3}
      %tr.list
        %th.level 1
        %th.level 2
        %th.level 3
        %th.level 4
      %tr.list
        %td.detail 日報を出勤時確認できている
        %td.detail ＰＣで売上などの数値を調べることができる
        %td.detail 売上だけでなく、差益、客数、ロスなどの推移も把握しようと意識している
        %td.detail 数値をもとに課題を見つけ出し、改善に取り組んでいる
    .standard-data__list-name
      <情報収集>
    %table.standard-data__table{border: 3}
      %tr.list
        %th.level 1
        %th.level 2
        %th.level 3
        %th.level 4
      %tr.list
        %td.detail メディアの情報に意識を傾けている
        %td.detail 自ら得た情報をスタッフや店舗メンバーに共有している
        %td.detail 競合店のチラシを確認したり直接足を運んで調査・比較している
        %td.detail 情報収集を活かし、自分なりのアイデアを活かしている
    .standard-data__list-name
      <試食販売>
    %table.standard-data__table{border: 3}
      %tr.list
        %th.level 1
        %th.level 2
        %th.level 3
        %th.level 4
      %tr.list
        %td.detail 店頭に出て試食販売ができる
        %td.detail しっかり声を出して試食販売をアピールしている
        %td.detail 試食販売商品のオススメポイントをお客さまに説明できる
        %td.detail お客さまに買ってもらうにはどうしたらいいか、自分なりに工夫し実践している
